.bundle
.idea
.sass-cache
.DS_Store
bin
docs
node_modules
spec
tests
tools
build.xml
composer.json
composer.lock
Gemfile
Gemfile.lock
phpdoc.dist.xml
phpmd.xml
Rakefile

public/api.php
public/cron.php
public/cron.sh
public/favicon.ico
public/get.php
public/index.php
public/index.php.sample
public/install.php
public/LICENSE.html
public/LICENSE.txt
public/LICENSE_AFL.txt
public/LICENSE_EE.html
public/LICENSE_EE.txt
public/mage
public/php.ini.sample
public/README.md
public/RELEASE_NOTES.txt
public/downloader/
public/errors/
public/includes/
public/js/
public/lib/
public/media/
public/pkginfo/
public/shell/
public/var/

public/app/code
public/app/etc
public/app/locale
public/app/.htaccess
public/app/Mage.php

public/app/design/adminhtml
public/app/design/frontend/base
public/app/design/frontend/enterprise
public/app/design/install

public/skin/adminhtml
public/skin/frontend/base
public/skin/frontend/enterprise
public/skin/install

public/skin/frontend/*/default/css/styles.css
public/skin/frontend/*/default/js/scripts.min.js