<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MX_Carousel>
            <version>0.1.0</version>
        </MX_Carousel>
    </modules>
    <global>
        <resources>
            <mx_carousel_setup>
                <setup>
                    <module>MX_Carousel</module>
                </setup>
            </mx_carousel_setup>
        </resources>
        <blocks>
            <mx_carousel>
                <class>MX_Carousel_Block</class>
            </mx_carousel>
        </blocks>
        <models>
            <mx_carousel>
                <class>MX_Carousel_Model</class>
                <resourceModel>mx_carousel_resource</resourceModel>
            </mx_carousel>
            <mx_carousel_resource>
                <class>MX_Carousel_Model_Resource</class>
                <entities>
                    <carousel_slide>
                        <table>carousel_slide</table>
                    </carousel_slide>
                </entities>
            </mx_carousel_resource>
        </models>
        <helpers>
            <mx_carousel>
                <class>MX_Carousel_Helper</class>
            </mx_carousel>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mx_carousel before="Mage_Adminhtml">MX_Carousel_Adminhtml</mx_carousel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
