<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MX_Adminhtml>
            <version>0.1.0</version>
        </MX_Adminhtml>
    </modules>
    <global>
        <helpers>
            <mx_adminhtml>
                <class>MX_Adminhtml_Helper</class>
            </mx_adminhtml>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MX_Adminhtml after="Mage_Adminhtml">MX_Adminhtml</MX_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
