/*------------------------------------------------------------------
    Header
-------------------------------------------------------------------*/

header {
    position: relative;
    border-bottom: $border-light;
    @include rem-fallback(margin-bottom, 2);
}

.header-wrapper {
    @include page-block;
}
.header {
    .search {
        @include fill-parent;
        clear: both;
        @include rem-fallback(margin-bottom, 2);
    }
    .logo-holder {
        @include span-columns(9);
    }
    @include media($medium-and-up) {
        @include outer-container;
        position: relative;
        .logo-holder {
            @include span-columns(7);
            line-height: 1;
        }
        .search {
            margin: 0;
            clear: none;
            @include span-columns(5);
            @include position(absolute, null 0 0 null);
        }
    }
    @include media($large-and-up) {
        .logo-holder {
            @include rem-fallback(padding-right, 2);
        }
        .search {
            @include shift(1);
            @include span-columns(4);
        }
    }
}
.logo-holder {
    @include rem-fallback(margin-bottom, 2);
    a {
        display: block;
    }
    img {
        width: 90%;
        @include rem-fallback(min-width, 10);
        @include rem-fallback(max-width, 30);
    }
    @include media($medium-and-up) {
        margin: 0;
        text-align: inherit;
        a {
            display: inline-block;
        }
        img {
            width: 100%;
        }
    }
    @include media($large-and-up) {
    }
}

.header-panel-wrapper {
    @include rem-fallback(padding, 1);
    @include page-block;
    background: $colour-background-black;
    @include rem-fallback(margin-bottom, 3);
    @include media($medium-and-up) {
        @include rem-fallback(margin-bottom, 2);
        background: none;
    }
}
.header-panel {
    position: relative;
    color: $colour-text-light;
    @include font-size(12);
    a {
        @include link-colour($colour-text-light);
    }
    @include media($medium-and-up) {
        color: $colour-link-alt;
        a {
            @include link-colour-pop;
        }
    }
}

// temporary
a.top-link-cart {
    @include span-columns(3);
    position: absolute;
    right: 0;
    top: 100%;
    @include rem-fallback(margin-top, $page-padding-large);
    @include link-colour-pop;
    text-align: right;
    &:before {
        content: 'CART ICON';
        display: block;
        font-weight: bolder;
    }
    @include media($medium-and-up) {
        @include span-columns(5);
        @include rem-fallback(margin-top, 2);
        white-space: nowrap;
        &:before {
            display: inline-block;
            @include rem-fallback(margin-right, 1);
        }
    }
    @include media($large-and-up) {
        @include span-columns(4);
    }
}
