/*------------------------------------------------------------------
    Styles specific to Pattern Lab to override default styles.
    These will not be included in production CSS.
-------------------------------------------------------------------*/

.sg-pattern-body {
    margin: 0 1.5em;
}

.pl .sg-pattern-head,
.sg-pattern-subhead {
    margin: 0 1em 2em;
    padding: 1em;
    color: gray;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

.sg-pattern-subhead {
    margin: 3em 0 1em;
    padding: 0;
}

.sg-dark-background {
    background: #333;
}

.sg-padding {
    padding: 4px;
}

.sg-colors {
    margin: 0;
    padding: 0;
}
.sg-colors li {
    list-style: none;
    min-width: 12em;
}
.sg-colors .sg-label {
    display: block;
    margin-top: 0.25em;
    text-align: right;
    font-size: 12px;
}
.sg-colors code {
    float: left;
}
@media all and (max-width: 30em) {
    .sg-colors .sg-label {
        margin-top: 0.5em;
    }
    .sg-colors .sg-swatch {
        width: 35%;
    }
}

.sg-visibility code {
    display: block;
}

.sg-grid {
    background: #eeeeee;
    text-align: center;
    padding: 1rem;
}
.sg-grid:nth-of-type(even) {
    background: #cccccc;
}
@media all and (max-width: 37.5em) {
    .nav-container {
        position: absolute;
    }
}

@media screen and (min-width: 600px) {
    footer {
        position: relative;
        bottom: auto;
    }
}

.body > .product--default,
.sg-pattern-body > .product--default {
    max-width: 400px;
}

.product-list--small,
.mini-cart {
    max-width: 300px;
}
