/*------------------------------------------------------------------
    Breadcrumbs
-------------------------------------------------------------------*/

.breadcrumbs {
    ul {
        padding: 0;
    }
    li {
        display: inline;
    }
}
